Repository blitzy-public-samples/ice-rink-management-comprehensive-iwhcmn, changes with the owners that .github/CODEOWNERS names for each.
All owners: @global-owner1, @global-owner2, @frontend-team, @backend-team, @api-team, @mobile-team, @devops-team, @docs-team, @lead-developer, @security-team, @database-team, @qa-team, @kubernetes-team, @infrastructure-team, @monitoring-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/mobile/src/screens/ProfileScreen.tsx
  src/mobile/src/screens/ProfileScreen.tsx
Owners: @mobile-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/mobile/src/screens/RegisterScreen.tsx
  src/mobile/src/screens/RegisterScreen.tsx
Owners: @mobile-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/mobile/src/screens/RinkDetailsScreen.tsx
  src/mobile/src/screens/RinkDetailsScreen.tsx
Owners: @mobile-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/mobile/src/screens/RinksScreen.tsx
  src/mobile/src/screens/RinksScreen.tsx
Owners: @mobile-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/mobile/src/styles/theme.ts
  src/mobile/src/styles/theme.ts
Owners: @mobile-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/mobile/src/types/booking.ts
  src/mobile/src/types/booking.ts
Owners: @mobile-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/mobile/src/types/equipment.ts
  src/mobile/src/types/equipment.ts
Owners: @mobile-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/mobile/src/types/index.ts
  src/mobile/src/types/index.ts
Owners: @mobile-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/mobile/src/types/rink.ts
  src/mobile/src/types/rink.ts
Owners: @mobile-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/mobile/src/types/user.ts
  src/mobile/src/types/user.ts
Owners: @mobile-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/mobile/src/utils/api.ts
  src/mobile/src/utils/api.ts
Owners: @mobile-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/mobile/src/utils/auth.ts
  src/mobile/src/utils/auth.ts
Owners: @security-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/mobile/src/utils/date.ts
  src/mobile/src/utils/date.ts
Owners: @mobile-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/mobile/src/utils/validation.ts
  src/mobile/src/utils/validation.ts
Owners: @mobile-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/shared/README.md
  src/shared/README.md
Owners: @frontend-team, @backend-team, @api-team, @mobile-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/shared/api/apiClient.ts
  src/shared/api/apiClient.ts
Owners: @frontend-team, @backend-team, @api-team, @mobile-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/shared/api/endpoints.ts
  src/shared/api/endpoints.ts
Owners: @frontend-team, @backend-team, @api-team, @mobile-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/shared/api/index.ts
  src/shared/api/index.ts
Owners: @frontend-team, @backend-team, @api-team, @mobile-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/shared/components/Button.tsx
  src/shared/components/Button.tsx
Owners: @frontend-team, @backend-team, @api-team, @mobile-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/shared/components/Calendar.tsx
  src/shared/components/Calendar.tsx
Owners: @frontend-team, @backend-team, @api-team, @mobile-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/shared/components/Input.tsx
  src/shared/components/Input.tsx
Owners: @frontend-team, @backend-team, @api-team, @mobile-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/shared/components/LoadingSpinner.tsx
  src/shared/components/LoadingSpinner.tsx
Owners: @frontend-team, @backend-team, @api-team, @mobile-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/shared/components/Modal.tsx
  src/shared/components/Modal.tsx
Owners: @frontend-team, @backend-team, @api-team, @mobile-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/shared/components/index.ts
  src/shared/components/index.ts
Owners: @frontend-team, @backend-team, @api-team, @mobile-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/shared/config/environment.ts
  src/shared/config/environment.ts
Owners: @frontend-team, @backend-team, @api-team, @mobile-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/shared/config/index.ts
  src/shared/config/index.ts
Owners: @frontend-team, @backend-team, @api-team, @mobile-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/shared/constants/apiEndpoints.ts
  src/shared/constants/apiEndpoints.ts
Owners: @frontend-team, @backend-team, @api-team, @mobile-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/shared/constants/errorMessages.ts
  src/shared/constants/errorMessages.ts
Owners: @frontend-team, @backend-team, @api-team, @mobile-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/shared/constants/index.ts
  src/shared/constants/index.ts
Owners: @frontend-team, @backend-team, @api-team, @mobile-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/shared/hooks/index.ts
  src/shared/hooks/index.ts
Owners: @frontend-team, @backend-team, @api-team, @mobile-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/shared/hooks/useAuth.ts
  src/shared/hooks/useAuth.ts
Owners: @frontend-team, @backend-team, @api-team, @mobile-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/shared/hooks/useBooking.ts
  src/shared/hooks/useBooking.ts
Owners: @frontend-team, @backend-team, @api-team, @mobile-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/shared/localization/en.json
  src/shared/localization/en.json
Owners: @frontend-team, @backend-team, @api-team, @mobile-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/shared/localization/fr.json
  src/shared/localization/fr.json
Owners: @frontend-team, @backend-team, @api-team, @mobile-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/shared/localization/index.ts
  src/shared/localization/index.ts
Owners: @frontend-team, @backend-team, @api-team, @mobile-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/shared/styles/globalStyles.ts
  src/shared/styles/globalStyles.ts
Owners: @frontend-team, @backend-team, @api-team, @mobile-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/shared/styles/theme.ts
  src/shared/styles/theme.ts
Owners: @frontend-team, @backend-team, @api-team, @mobile-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/shared/types/booking.ts
  src/shared/types/booking.ts
Owners: @frontend-team, @backend-team, @api-team, @mobile-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/shared/types/equipment.ts
  src/shared/types/equipment.ts
Owners: @frontend-team, @backend-team, @api-team, @mobile-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/shared/types/index.ts
  src/shared/types/index.ts
Owners: @frontend-team, @backend-team, @api-team, @mobile-team

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# For more information, see: https://help.github.com/articles/about-code-owners/

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, these owners will be requested for review when someone opens a pull request.
* @global-owner1 @global-owner2

# Frontend code
/src/frontend/ @frontend-team

# Backend code
/src/backend/ @backend-team

# API code
/src/api/ @api-team

# Mobile app code
/src/mobile/ @mobile-team

# Shared code
/src/shared/ @frontend-team @backend-team @api-team @mobile-team

# Infrastructure code
/infrastructure/ @devops-team

# CI/CD configuration
/.github/workflows/ @devops-team

# Documentation
/*.md @docs-team

# Package configuration
package.json @lead-developer
yarn.lock @lead-developer

# Security-related files
/src/api/middleware/auth.ts @security-team
/src/frontend/src/utils/auth.ts @security-team
/src/mobile/src/utils/auth.ts @security-team

# Database migrations
/src/backend/src/db/migrations/ @database-team

# Test files
/src/*/tests/ @qa-team

# Configuration files
*.config.js @lead-developer
*.config.ts @lead-developer
.env.example @devops-team

# Dockerfiles
Dockerfile* @devops-team
docker-compose.yml @devops-team

# Kubernetes manifests
/infrastructure/kubernetes/ @kubernetes-team

# Terraform files
/infrastructure/terraform/ @infrastructure-team

# Monitoring and logging
/infrastructure/monitoring/ @monitoring-team

# Scripts
/infrastructure/scripts/ @devops-team

# Ansible playbooks
/infrastructure/ansible/ @devops-team
