Repository blitzy-public-samples/ice-rink-management-comprehensive-iwhcmn, changes with the owners that .github/CODEOWNERS names for each.
All owners: @global-owner1, @global-owner2, @frontend-team, @backend-team, @api-team, @mobile-team, @devops-team, @docs-team, @lead-developer, @security-team, @database-team, @qa-team, @kubernetes-team, @infrastructure-team, @monitoring-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/api/types/express.d.ts
  src/api/types/express.d.ts
Owners: @api-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/api/types/index.ts
  src/api/types/index.ts
Owners: @api-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/api/utils/encryption.ts
  src/api/utils/encryption.ts
Owners: @api-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/api/utils/index.ts
  src/api/utils/index.ts
Owners: @api-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/api/utils/logger.ts
  src/api/utils/logger.ts
Owners: @api-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/api/utils/validation.ts
  src/api/utils/validation.ts
Owners: @api-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/backend/.env.example
  src/backend/.env.example
Owners: @devops-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/backend/README.md
  src/backend/README.md
Owners: @backend-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/backend/package.json
  src/backend/package.json
Owners: @lead-developer

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/backend/tsconfig.json
  src/backend/tsconfig.json
Owners: @backend-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/backend/src/index.ts
  src/backend/src/index.ts
Owners: @backend-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/backend/src/config/aws.ts
  src/backend/src/config/aws.ts
Owners: @backend-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/backend/src/config/database.ts
  src/backend/src/config/database.ts
Owners: @backend-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/backend/src/config/index.ts
  src/backend/src/config/index.ts
Owners: @backend-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/backend/src/config/redis.ts
  src/backend/src/config/redis.ts
Owners: @backend-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/backend/src/db/index.ts
  src/backend/src/db/index.ts
Owners: @backend-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/backend/src/db/migrations/index.ts
  src/backend/src/db/migrations/index.ts
Owners: @database-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/backend/src/db/seeders/index.ts
  src/backend/src/db/seeders/index.ts
Owners: @backend-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/backend/src/integrations/firebaseIntegration.ts
  src/backend/src/integrations/firebaseIntegration.ts
Owners: @backend-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/backend/src/integrations/googleMapsIntegration.ts
  src/backend/src/integrations/googleMapsIntegration.ts
Owners: @backend-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/backend/src/integrations/index.ts
  src/backend/src/integrations/index.ts
Owners: @backend-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/backend/src/integrations/sendGridIntegration.ts
  src/backend/src/integrations/sendGridIntegration.ts
Owners: @backend-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/backend/src/integrations/sentryIntegration.ts
  src/backend/src/integrations/sentryIntegration.ts
Owners: @backend-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/backend/src/integrations/stripeIntegration.ts
  src/backend/src/integrations/stripeIntegration.ts
Owners: @backend-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/backend/src/integrations/twilioIntegration.ts
  src/backend/src/integrations/twilioIntegration.ts
Owners: @backend-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/backend/src/jobs/dailyReportJob.ts
  src/backend/src/jobs/dailyReportJob.ts
Owners: @backend-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/backend/src/jobs/dataCleanupJob.ts
  src/backend/src/jobs/dataCleanupJob.ts
Owners: @backend-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/backend/src/jobs/index.ts
  src/backend/src/jobs/index.ts
Owners: @backend-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/backend/src/jobs/maintenanceReminderJob.ts
  src/backend/src/jobs/maintenanceReminderJob.ts
Owners: @backend-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/backend/src/scripts/dbMigrate.ts
  src/backend/src/scripts/dbMigrate.ts
Owners: @backend-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/backend/src/scripts/dbSeed.ts
  src/backend/src/scripts/dbSeed.ts
Owners: @backend-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/backend/src/scripts/generateTestData.ts
  src/backend/src/scripts/generateTestData.ts
Owners: @backend-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/backend/src/scripts/index.ts
  src/backend/src/scripts/index.ts
Owners: @backend-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/backend/src/services/analyticsService.ts
  src/backend/src/services/analyticsService.ts
Owners: @backend-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/backend/src/services/cacheService.ts
  src/backend/src/services/cacheService.ts
Owners: @backend-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/backend/src/services/fileStorageService.ts
  src/backend/src/services/fileStorageService.ts
Owners: @backend-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/backend/src/services/index.ts
  src/backend/src/services/index.ts
Owners: @backend-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/backend/src/services/maintenanceService.ts
  src/backend/src/services/maintenanceService.ts
Owners: @backend-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/backend/src/services/notificationService.ts
  src/backend/src/services/notificationService.ts
Owners: @backend-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/backend/src/services/reportingService.ts
  src/backend/src/services/reportingService.ts
Owners: @backend-team

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# For more information, see: https://help.github.com/articles/about-code-owners/

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, these owners will be requested for review when someone opens a pull request.
* @global-owner1 @global-owner2

# Frontend code
/src/frontend/ @frontend-team

# Backend code
/src/backend/ @backend-team

# API code
/src/api/ @api-team

# Mobile app code
/src/mobile/ @mobile-team

# Shared code
/src/shared/ @frontend-team @backend-team @api-team @mobile-team

# Infrastructure code
/infrastructure/ @devops-team

# CI/CD configuration
/.github/workflows/ @devops-team

# Documentation
/*.md @docs-team

# Package configuration
package.json @lead-developer
yarn.lock @lead-developer

# Security-related files
/src/api/middleware/auth.ts @security-team
/src/frontend/src/utils/auth.ts @security-team
/src/mobile/src/utils/auth.ts @security-team

# Database migrations
/src/backend/src/db/migrations/ @database-team

# Test files
/src/*/tests/ @qa-team

# Configuration files
*.config.js @lead-developer
*.config.ts @lead-developer
.env.example @devops-team

# Dockerfiles
Dockerfile* @devops-team
docker-compose.yml @devops-team

# Kubernetes manifests
/infrastructure/kubernetes/ @kubernetes-team

# Terraform files
/infrastructure/terraform/ @infrastructure-team

# Monitoring and logging
/infrastructure/monitoring/ @monitoring-team

# Scripts
/infrastructure/scripts/ @devops-team

# Ansible playbooks
/infrastructure/ansible/ @devops-team
