Repository blitzy-public-samples/ice-rink-management-comprehensive-iwhcmn, changes with the owners that .github/CODEOWNERS names for each.
All owners: @global-owner1, @global-owner2, @frontend-team, @backend-team, @api-team, @mobile-team, @devops-team, @docs-team, @lead-developer, @security-team, @database-team, @qa-team, @kubernetes-team, @infrastructure-team, @monitoring-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/infrastructure/scripts/backup-database.sh
  infrastructure/scripts/backup-database.sh
Owners: @devops-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/infrastructure/scripts/deploy.sh
  infrastructure/scripts/deploy.sh
Owners: @devops-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/infrastructure/scripts/restore-database.sh
  infrastructure/scripts/restore-database.sh
Owners: @devops-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/infrastructure/scripts/rollback.sh
  infrastructure/scripts/rollback.sh
Owners: @devops-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/infrastructure/scripts/setup-environment.sh
  infrastructure/scripts/setup-environment.sh
Owners: @devops-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/infrastructure/terraform/main.tf
  infrastructure/terraform/main.tf
Owners: @infrastructure-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/infrastructure/terraform/outputs.tf
  infrastructure/terraform/outputs.tf
Owners: @infrastructure-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/infrastructure/terraform/variables.tf
  infrastructure/terraform/variables.tf
Owners: @infrastructure-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/infrastructure/terraform/environments/dev/main.tf
  infrastructure/terraform/environments/dev/main.tf
Owners: @infrastructure-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/infrastructure/terraform/environments/dev/outputs.tf
  infrastructure/terraform/environments/dev/outputs.tf
Owners: @infrastructure-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/infrastructure/terraform/environments/dev/variables.tf
  infrastructure/terraform/environments/dev/variables.tf
Owners: @infrastructure-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/infrastructure/terraform/environments/prod/main.tf
  infrastructure/terraform/environments/prod/main.tf
Owners: @infrastructure-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/infrastructure/terraform/environments/prod/outputs.tf
  infrastructure/terraform/environments/prod/outputs.tf
Owners: @infrastructure-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/infrastructure/terraform/environments/prod/variables.tf
  infrastructure/terraform/environments/prod/variables.tf
Owners: @infrastructure-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/infrastructure/terraform/environments/staging/main.tf
  infrastructure/terraform/environments/staging/main.tf
Owners: @infrastructure-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/infrastructure/terraform/environments/staging/outputs.tf
  infrastructure/terraform/environments/staging/outputs.tf
Owners: @infrastructure-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/infrastructure/terraform/environments/staging/variables.tf
  infrastructure/terraform/environments/staging/variables.tf
Owners: @infrastructure-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/infrastructure/terraform/modules/cloudfront/main.tf
  infrastructure/terraform/modules/cloudfront/main.tf
Owners: @infrastructure-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/infrastructure/terraform/modules/cloudfront/outputs.tf
  infrastructure/terraform/modules/cloudfront/outputs.tf
Owners: @infrastructure-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/infrastructure/terraform/modules/cloudfront/variables.tf
  infrastructure/terraform/modules/cloudfront/variables.tf
Owners: @infrastructure-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/infrastructure/terraform/modules/ec2/main.tf
  infrastructure/terraform/modules/ec2/main.tf
Owners: @infrastructure-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/infrastructure/terraform/modules/ec2/outputs.tf
  infrastructure/terraform/modules/ec2/outputs.tf
Owners: @infrastructure-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/infrastructure/terraform/modules/ec2/variables.tf
  infrastructure/terraform/modules/ec2/variables.tf
Owners: @infrastructure-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/infrastructure/terraform/modules/elasticache/main.tf
  infrastructure/terraform/modules/elasticache/main.tf
Owners: @infrastructure-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/infrastructure/terraform/modules/elasticache/outputs.tf
  infrastructure/terraform/modules/elasticache/outputs.tf
Owners: @infrastructure-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/infrastructure/terraform/modules/elasticache/variables.tf
  infrastructure/terraform/modules/elasticache/variables.tf
Owners: @infrastructure-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/infrastructure/terraform/modules/lambda/main.tf
  infrastructure/terraform/modules/lambda/main.tf
Owners: @infrastructure-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/infrastructure/terraform/modules/lambda/outputs.tf
  infrastructure/terraform/modules/lambda/outputs.tf
Owners: @infrastructure-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/infrastructure/terraform/modules/lambda/variables.tf
  infrastructure/terraform/modules/lambda/variables.tf
Owners: @infrastructure-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/infrastructure/terraform/modules/rds/main.tf
  infrastructure/terraform/modules/rds/main.tf
Owners: @infrastructure-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/infrastructure/terraform/modules/rds/outputs.tf
  infrastructure/terraform/modules/rds/outputs.tf
Owners: @infrastructure-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/infrastructure/terraform/modules/rds/variables.tf
  infrastructure/terraform/modules/rds/variables.tf
Owners: @infrastructure-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/infrastructure/terraform/modules/s3/main.tf
  infrastructure/terraform/modules/s3/main.tf
Owners: @infrastructure-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/infrastructure/terraform/modules/s3/outputs.tf
  infrastructure/terraform/modules/s3/outputs.tf
Owners: @infrastructure-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/infrastructure/terraform/modules/s3/variables.tf
  infrastructure/terraform/modules/s3/variables.tf
Owners: @infrastructure-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/infrastructure/terraform/modules/vpc/main.tf
  infrastructure/terraform/modules/vpc/main.tf
Owners: @infrastructure-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/infrastructure/terraform/modules/vpc/outputs.tf
  infrastructure/terraform/modules/vpc/outputs.tf
Owners: @infrastructure-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/infrastructure/terraform/modules/vpc/variables.tf
  infrastructure/terraform/modules/vpc/variables.tf
Owners: @infrastructure-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/api/.env.example
  src/api/.env.example
Owners: @devops-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/api/README.md
  src/api/README.md
Owners: @api-team

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# For more information, see: https://help.github.com/articles/about-code-owners/

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, these owners will be requested for review when someone opens a pull request.
* @global-owner1 @global-owner2

# Frontend code
/src/frontend/ @frontend-team

# Backend code
/src/backend/ @backend-team

# API code
/src/api/ @api-team

# Mobile app code
/src/mobile/ @mobile-team

# Shared code
/src/shared/ @frontend-team @backend-team @api-team @mobile-team

# Infrastructure code
/infrastructure/ @devops-team

# CI/CD configuration
/.github/workflows/ @devops-team

# Documentation
/*.md @docs-team

# Package configuration
package.json @lead-developer
yarn.lock @lead-developer

# Security-related files
/src/api/middleware/auth.ts @security-team
/src/frontend/src/utils/auth.ts @security-team
/src/mobile/src/utils/auth.ts @security-team

# Database migrations
/src/backend/src/db/migrations/ @database-team

# Test files
/src/*/tests/ @qa-team

# Configuration files
*.config.js @lead-developer
*.config.ts @lead-developer
.env.example @devops-team

# Dockerfiles
Dockerfile* @devops-team
docker-compose.yml @devops-team

# Kubernetes manifests
/infrastructure/kubernetes/ @kubernetes-team

# Terraform files
/infrastructure/terraform/ @infrastructure-team

# Monitoring and logging
/infrastructure/monitoring/ @monitoring-team

# Scripts
/infrastructure/scripts/ @devops-team

# Ansible playbooks
/infrastructure/ansible/ @devops-team
