Repository blitzy-public-samples/ice-rink-management-comprehensive-iwhcmn, changes with the owners that .github/CODEOWNERS names for each.
All owners: @global-owner1, @global-owner2, @frontend-team, @backend-team, @api-team, @mobile-team, @devops-team, @docs-team, @lead-developer, @security-team, @database-team, @qa-team, @kubernetes-team, @infrastructure-team, @monitoring-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/api/index.ts
  src/api/index.ts
Owners: @api-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/api/package.json
  src/api/package.json
Owners: @lead-developer

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/api/server.ts
  src/api/server.ts
Owners: @api-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/api/tsconfig.json
  src/api/tsconfig.json
Owners: @api-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/api/config/database.ts
  src/api/config/database.ts
Owners: @api-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/api/config/index.ts
  src/api/config/index.ts
Owners: @api-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/api/config/middleware.ts
  src/api/config/middleware.ts
Owners: @api-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/api/controllers/authController.ts
  src/api/controllers/authController.ts
Owners: @api-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/api/controllers/bookingController.ts
  src/api/controllers/bookingController.ts
Owners: @api-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/api/controllers/equipmentController.ts
  src/api/controllers/equipmentController.ts
Owners: @api-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/api/controllers/index.ts
  src/api/controllers/index.ts
Owners: @api-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/api/controllers/rinkController.ts
  src/api/controllers/rinkController.ts
Owners: @api-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/api/controllers/userController.ts
  src/api/controllers/userController.ts
Owners: @api-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/api/docs/swagger.json
  src/api/docs/swagger.json
Owners: @api-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/api/middleware/auth.ts
  src/api/middleware/auth.ts
Owners: @security-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/api/middleware/errorHandler.ts
  src/api/middleware/errorHandler.ts
Owners: @api-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/api/middleware/index.ts
  src/api/middleware/index.ts
Owners: @api-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/api/middleware/validation.ts
  src/api/middleware/validation.ts
Owners: @api-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/api/models/Booking.ts
  src/api/models/Booking.ts
Owners: @api-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/api/models/Equipment.ts
  src/api/models/Equipment.ts
Owners: @api-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/api/models/Rink.ts
  src/api/models/Rink.ts
Owners: @api-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/api/models/User.ts
  src/api/models/User.ts
Owners: @api-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/api/models/index.ts
  src/api/models/index.ts
Owners: @api-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/api/routes/auth.ts
  src/api/routes/auth.ts
Owners: @api-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/api/routes/bookings.ts
  src/api/routes/bookings.ts
Owners: @api-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/api/routes/equipment.ts
  src/api/routes/equipment.ts
Owners: @api-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/api/routes/index.ts
  src/api/routes/index.ts
Owners: @api-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/api/routes/rinks.ts
  src/api/routes/rinks.ts
Owners: @api-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/api/routes/users.ts
  src/api/routes/users.ts
Owners: @api-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/api/services/authService.ts
  src/api/services/authService.ts
Owners: @api-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/api/services/bookingService.ts
  src/api/services/bookingService.ts
Owners: @api-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/api/services/emailService.ts
  src/api/services/emailService.ts
Owners: @api-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/api/services/index.ts
  src/api/services/index.ts
Owners: @api-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/api/services/paymentService.ts
  src/api/services/paymentService.ts
Owners: @api-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/api/tests/index.ts
  src/api/tests/index.ts
Owners: @qa-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/api/tests/integration/auth.test.ts
  src/api/tests/integration/auth.test.ts
Owners: @qa-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/api/tests/integration/bookings.test.ts
  src/api/tests/integration/bookings.test.ts
Owners: @qa-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/api/tests/unit/authController.test.ts
  src/api/tests/unit/authController.test.ts
Owners: @qa-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/api/tests/unit/bookingController.test.ts
  src/api/tests/unit/bookingController.test.ts
Owners: @qa-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/api/tests/unit/userController.test.ts
  src/api/tests/unit/userController.test.ts
Owners: @qa-team

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# For more information, see: https://help.github.com/articles/about-code-owners/

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, these owners will be requested for review when someone opens a pull request.
* @global-owner1 @global-owner2

# Frontend code
/src/frontend/ @frontend-team

# Backend code
/src/backend/ @backend-team

# API code
/src/api/ @api-team

# Mobile app code
/src/mobile/ @mobile-team

# Shared code
/src/shared/ @frontend-team @backend-team @api-team @mobile-team

# Infrastructure code
/infrastructure/ @devops-team

# CI/CD configuration
/.github/workflows/ @devops-team

# Documentation
/*.md @docs-team

# Package configuration
package.json @lead-developer
yarn.lock @lead-developer

# Security-related files
/src/api/middleware/auth.ts @security-team
/src/frontend/src/utils/auth.ts @security-team
/src/mobile/src/utils/auth.ts @security-team

# Database migrations
/src/backend/src/db/migrations/ @database-team

# Test files
/src/*/tests/ @qa-team

# Configuration files
*.config.js @lead-developer
*.config.ts @lead-developer
.env.example @devops-team

# Dockerfiles
Dockerfile* @devops-team
docker-compose.yml @devops-team

# Kubernetes manifests
/infrastructure/kubernetes/ @kubernetes-team

# Terraform files
/infrastructure/terraform/ @infrastructure-team

# Monitoring and logging
/infrastructure/monitoring/ @monitoring-team

# Scripts
/infrastructure/scripts/ @devops-team

# Ansible playbooks
/infrastructure/ansible/ @devops-team
