Repository blitzy-public-samples/ice-rink-management-comprehensive-iwhcmn, changes with the owners that .github/CODEOWNERS names for each.
All owners: @global-owner1, @global-owner2, @frontend-team, @backend-team, @api-team, @mobile-team, @devops-team, @docs-team, @lead-developer, @security-team, @database-team, @qa-team, @kubernetes-team, @infrastructure-team, @monitoring-team

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# For more information, see: https://help.github.com/articles/about-code-owners/

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, these owners will be requested for review when someone opens a pull request.
* @global-owner1 @global-owner2

# Frontend code
/src/frontend/ @frontend-team

# Backend code
/src/backend/ @backend-team

# API code
/src/api/ @api-team

# Mobile app code
/src/mobile/ @mobile-team

# Shared code
/src/shared/ @frontend-team @backend-team @api-team @mobile-team

# Infrastructure code
/infrastructure/ @devops-team

# CI/CD configuration
/.github/workflows/ @devops-team

# Documentation
/*.md @docs-team

# Package configuration
package.json @lead-developer
yarn.lock @lead-developer

# Security-related files
/src/api/middleware/auth.ts @security-team
/src/frontend/src/utils/auth.ts @security-team
/src/mobile/src/utils/auth.ts @security-team

# Database migrations
/src/backend/src/db/migrations/ @database-team

# Test files
/src/*/tests/ @qa-team

# Configuration files
*.config.js @lead-developer
*.config.ts @lead-developer
.env.example @devops-team

# Dockerfiles
Dockerfile* @devops-team
docker-compose.yml @devops-team

# Kubernetes manifests
/infrastructure/kubernetes/ @kubernetes-team

# Terraform files
/infrastructure/terraform/ @infrastructure-team

# Monitoring and logging
/infrastructure/monitoring/ @monitoring-team

# Scripts
/infrastructure/scripts/ @devops-team

# Ansible playbooks
/infrastructure/ansible/ @devops-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/.github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @global-owner1, @global-owner2

Add public-samples/ice-rink-management-comprehensive-iwhcmn/.github/dependabot.yml
  .github/dependabot.yml
Owners: @global-owner1, @global-owner2

Add public-samples/ice-rink-management-comprehensive-iwhcmn/.github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @global-owner1, @global-owner2

Add public-samples/ice-rink-management-comprehensive-iwhcmn/.github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @global-owner1, @global-owner2

Add public-samples/ice-rink-management-comprehensive-iwhcmn/.github/workflows/cd.yml
  .github/workflows/cd.yml
Owners: @devops-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/.github/workflows/ci.yml
  .github/workflows/ci.yml
Owners: @devops-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/.github/workflows/codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Owners: @devops-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/documentation/Human Tasks.md
  documentation/Human Tasks.md
Owners: @global-owner1, @global-owner2

Add public-samples/ice-rink-management-comprehensive-iwhcmn/documentation/Input Prompt.md
  documentation/Input Prompt.md
Owners: @global-owner1, @global-owner2

Add public-samples/ice-rink-management-comprehensive-iwhcmn/documentation/Software Requirements Specifications (SRS).md
  documentation/Software Requirements Specifications (SRS).md
Owners: @global-owner1, @global-owner2

Add public-samples/ice-rink-management-comprehensive-iwhcmn/documentation/Technical Specifications.md
  documentation/Technical Specifications.md
Owners: @global-owner1, @global-owner2

Add public-samples/ice-rink-management-comprehensive-iwhcmn/infrastructure/ansible/inventory/hosts.ini
  infrastructure/ansible/inventory/hosts.ini
Owners: @devops-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/infrastructure/ansible/playbooks/deploy-app.yml
  infrastructure/ansible/playbooks/deploy-app.yml
Owners: @devops-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/infrastructure/ansible/playbooks/setup-servers.yml
  infrastructure/ansible/playbooks/setup-servers.yml
Owners: @devops-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/infrastructure/ansible/roles/common/tasks/main.yml
  infrastructure/ansible/roles/common/tasks/main.yml
Owners: @devops-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/infrastructure/ansible/roles/database/tasks/main.yml
  infrastructure/ansible/roles/database/tasks/main.yml
Owners: @devops-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/infrastructure/ansible/roles/webserver/tasks/main.yml
  infrastructure/ansible/roles/webserver/tasks/main.yml
Owners: @devops-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/infrastructure/ci-cd/gitlab-ci.yml
  infrastructure/ci-cd/gitlab-ci.yml
Owners: @devops-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/infrastructure/ci-cd/jenkins/Jenkinsfile
  infrastructure/ci-cd/jenkins/Jenkinsfile
Owners: @devops-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/infrastructure/docker/api.Dockerfile
  infrastructure/docker/api.Dockerfile
Owners: @devops-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/infrastructure/docker/backend.Dockerfile
  infrastructure/docker/backend.Dockerfile
Owners: @devops-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/infrastructure/docker/docker-compose.yml
  infrastructure/docker/docker-compose.yml
Owners: @devops-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/infrastructure/docker/frontend.Dockerfile
  infrastructure/docker/frontend.Dockerfile
Owners: @devops-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/infrastructure/docker/mobile.Dockerfile
  infrastructure/docker/mobile.Dockerfile
Owners: @devops-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/infrastructure/kubernetes/api-deployment.yaml
  infrastructure/kubernetes/api-deployment.yaml
Owners: @kubernetes-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/infrastructure/kubernetes/api-service.yaml
  infrastructure/kubernetes/api-service.yaml
Owners: @kubernetes-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/infrastructure/kubernetes/backend-deployment.yaml
  infrastructure/kubernetes/backend-deployment.yaml
Owners: @kubernetes-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/infrastructure/kubernetes/backend-service.yaml
  infrastructure/kubernetes/backend-service.yaml
Owners: @kubernetes-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/infrastructure/kubernetes/configmap.yaml
  infrastructure/kubernetes/configmap.yaml
Owners: @kubernetes-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/infrastructure/kubernetes/database-service.yaml
  infrastructure/kubernetes/database-service.yaml
Owners: @kubernetes-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/infrastructure/kubernetes/database-statefulset.yaml
  infrastructure/kubernetes/database-statefulset.yaml
Owners: @kubernetes-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/infrastructure/kubernetes/frontend-deployment.yaml
  infrastructure/kubernetes/frontend-deployment.yaml
Owners: @kubernetes-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/infrastructure/kubernetes/frontend-service.yaml
  infrastructure/kubernetes/frontend-service.yaml
Owners: @kubernetes-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/infrastructure/kubernetes/ingress.yaml
  infrastructure/kubernetes/ingress.yaml
Owners: @kubernetes-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/infrastructure/kubernetes/redis-service.yaml
  infrastructure/kubernetes/redis-service.yaml
Owners: @kubernetes-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/infrastructure/kubernetes/redis-statefulset.yaml
  infrastructure/kubernetes/redis-statefulset.yaml
Owners: @kubernetes-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/infrastructure/kubernetes/secrets.yaml
  infrastructure/kubernetes/secrets.yaml
Owners: @kubernetes-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/infrastructure/monitoring/alertmanager.yml
  infrastructure/monitoring/alertmanager.yml
Owners: @monitoring-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/infrastructure/monitoring/grafana-dashboard.json
  infrastructure/monitoring/grafana-dashboard.json
Owners: @monitoring-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/infrastructure/monitoring/prometheus.yml
  infrastructure/monitoring/prometheus.yml
Owners: @monitoring-team
