Repository blitzy-public-samples/ice-rink-management-comprehensive-iwhcmn, changes with the owners that .github/CODEOWNERS names for each.
All owners: @global-owner1, @global-owner2, @frontend-team, @backend-team, @api-team, @mobile-team, @devops-team, @docs-team, @lead-developer, @security-team, @database-team, @qa-team, @kubernetes-team, @infrastructure-team, @monitoring-team

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# For more information, see: https://help.github.com/articles/about-code-owners/

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, these owners will be requested for review when someone opens a pull request.
* @global-owner1 @global-owner2

# Frontend code
/src/frontend/ @frontend-team

# Backend code
/src/backend/ @backend-team

# API code
/src/api/ @api-team

# Mobile app code
/src/mobile/ @mobile-team

# Shared code
/src/shared/ @frontend-team @backend-team @api-team @mobile-team

# Infrastructure code
/infrastructure/ @devops-team

# CI/CD configuration
/.github/workflows/ @devops-team

# Documentation
/*.md @docs-team

# Package configuration
package.json @lead-developer
yarn.lock @lead-developer

# Security-related files
/src/api/middleware/auth.ts @security-team
/src/frontend/src/utils/auth.ts @security-team
/src/mobile/src/utils/auth.ts @security-team

# Database migrations
/src/backend/src/db/migrations/ @database-team

# Test files
/src/*/tests/ @qa-team

# Configuration files
*.config.js @lead-developer
*.config.ts @lead-developer
.env.example @devops-team

# Dockerfiles
Dockerfile* @devops-team
docker-compose.yml @devops-team

# Kubernetes manifests
/infrastructure/kubernetes/ @kubernetes-team

# Terraform files
/infrastructure/terraform/ @infrastructure-team

# Monitoring and logging
/infrastructure/monitoring/ @monitoring-team

# Scripts
/infrastructure/scripts/ @devops-team

# Ansible playbooks
/infrastructure/ansible/ @devops-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/backend/src/services/schedulerService.ts
  src/backend/src/services/schedulerService.ts
Owners: @backend-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/backend/src/types/index.ts
  src/backend/src/types/index.ts
Owners: @backend-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/backend/src/types/integrations.ts
  src/backend/src/types/integrations.ts
Owners: @backend-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/backend/src/types/jobs.ts
  src/backend/src/types/jobs.ts
Owners: @backend-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/backend/src/types/services.ts
  src/backend/src/types/services.ts
Owners: @backend-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/backend/src/utils/dataTransformers.ts
  src/backend/src/utils/dataTransformers.ts
Owners: @backend-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/backend/src/utils/errorHandler.ts
  src/backend/src/utils/errorHandler.ts
Owners: @backend-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/backend/src/utils/index.ts
  src/backend/src/utils/index.ts
Owners: @backend-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/backend/src/utils/logger.ts
  src/backend/src/utils/logger.ts
Owners: @backend-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/backend/tests/integration/integrations/firebaseIntegration.test.ts
  src/backend/tests/integration/integrations/firebaseIntegration.test.ts
Owners: @qa-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/backend/tests/integration/integrations/googleMapsIntegration.test.ts
  src/backend/tests/integration/integrations/googleMapsIntegration.test.ts
Owners: @qa-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/backend/tests/integration/integrations/sendGridIntegration.test.ts
  src/backend/tests/integration/integrations/sendGridIntegration.test.ts
Owners: @qa-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/backend/tests/integration/integrations/sentryIntegration.test.ts
  src/backend/tests/integration/integrations/sentryIntegration.test.ts
Owners: @qa-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/backend/tests/integration/integrations/stripeIntegration.test.ts
  src/backend/tests/integration/integrations/stripeIntegration.test.ts
Owners: @qa-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/backend/tests/integration/integrations/twilioIntegration.test.ts
  src/backend/tests/integration/integrations/twilioIntegration.test.ts
Owners: @qa-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/backend/tests/integration/jobs/dailyReportJob.test.ts
  src/backend/tests/integration/jobs/dailyReportJob.test.ts
Owners: @qa-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/backend/tests/integration/jobs/dataCleanupJob.test.ts
  src/backend/tests/integration/jobs/dataCleanupJob.test.ts
Owners: @qa-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/backend/tests/integration/jobs/maintenanceReminderJob.test.ts
  src/backend/tests/integration/jobs/maintenanceReminderJob.test.ts
Owners: @qa-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/backend/tests/unit/services/analyticsService.test.ts
  src/backend/tests/unit/services/analyticsService.test.ts
Owners: @qa-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/backend/tests/unit/services/cacheService.test.ts
  src/backend/tests/unit/services/cacheService.test.ts
Owners: @qa-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/backend/tests/unit/services/fileStorageService.test.ts
  src/backend/tests/unit/services/fileStorageService.test.ts
Owners: @qa-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/backend/tests/unit/services/maintenanceService.test.ts
  src/backend/tests/unit/services/maintenanceService.test.ts
Owners: @qa-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/backend/tests/unit/services/notificationService.test.ts
  src/backend/tests/unit/services/notificationService.test.ts
Owners: @qa-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/backend/tests/unit/services/reportingService.test.ts
  src/backend/tests/unit/services/reportingService.test.ts
Owners: @qa-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/backend/tests/unit/services/schedulerService.test.ts
  src/backend/tests/unit/services/schedulerService.test.ts
Owners: @qa-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/frontend/.env.development
  src/frontend/.env.development
Owners: @frontend-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/frontend/.env.production
  src/frontend/.env.production
Owners: @frontend-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/frontend/README.md
  src/frontend/README.md
Owners: @frontend-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/frontend/next.config.js
  src/frontend/next.config.js
Owners: @lead-developer

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/frontend/package.json
  src/frontend/package.json
Owners: @lead-developer

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/frontend/tsconfig.json
  src/frontend/tsconfig.json
Owners: @frontend-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/frontend/public/favicon.ico
  src/frontend/public/favicon.ico
Owners: @frontend-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/frontend/public/manifest.json
  src/frontend/public/manifest.json
Owners: @frontend-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/frontend/public/robots.txt
  src/frontend/public/robots.txt
Owners: @frontend-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/frontend/src/components/Admin/EquipmentManagement.tsx
  src/frontend/src/components/Admin/EquipmentManagement.tsx
Owners: @frontend-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/frontend/src/components/Admin/ReportGenerator.tsx
  src/frontend/src/components/Admin/ReportGenerator.tsx
Owners: @frontend-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/frontend/src/components/Admin/RinkManagement.tsx
  src/frontend/src/components/Admin/RinkManagement.tsx
Owners: @frontend-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/frontend/src/components/Admin/UserManagement.tsx
  src/frontend/src/components/Admin/UserManagement.tsx
Owners: @frontend-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/frontend/src/components/Booking/BookingDetails.tsx
  src/frontend/src/components/Booking/BookingDetails.tsx
Owners: @frontend-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/frontend/src/components/Booking/BookingForm.tsx
  src/frontend/src/components/Booking/BookingForm.tsx
Owners: @frontend-team
