Repository blitzy-public-samples/ice-rink-management-comprehensive-iwhcmn, changes with the owners that .github/CODEOWNERS names for each.
All owners: @global-owner1, @global-owner2, @frontend-team, @backend-team, @api-team, @mobile-team, @devops-team, @docs-team, @lead-developer, @security-team, @database-team, @qa-team, @kubernetes-team, @infrastructure-team, @monitoring-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/frontend/src/utils/date.ts
  src/frontend/src/utils/date.ts
Owners: @frontend-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/frontend/src/utils/validation.ts
  src/frontend/src/utils/validation.ts
Owners: @frontend-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/mobile/.env.development
  src/mobile/.env.development
Owners: @mobile-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/mobile/.env.production
  src/mobile/.env.production
Owners: @mobile-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/mobile/App.tsx
  src/mobile/App.tsx
Owners: @mobile-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/mobile/README.md
  src/mobile/README.md
Owners: @mobile-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/mobile/app.json
  src/mobile/app.json
Owners: @mobile-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/mobile/babel.config.js
  src/mobile/babel.config.js
Owners: @lead-developer

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/mobile/index.js
  src/mobile/index.js
Owners: @mobile-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/mobile/metro.config.js
  src/mobile/metro.config.js
Owners: @lead-developer

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/mobile/package.json
  src/mobile/package.json
Owners: @lead-developer

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/mobile/tsconfig.json
  src/mobile/tsconfig.json
Owners: @mobile-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/mobile/__tests__/App.test.tsx
  src/mobile/__tests__/App.test.tsx
Owners: @mobile-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/mobile/__tests__/components/booking/BookingForm.test.tsx
  src/mobile/__tests__/components/booking/BookingForm.test.tsx
Owners: @mobile-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/mobile/__tests__/components/booking/BookingList.test.tsx
  src/mobile/__tests__/components/booking/BookingList.test.tsx
Owners: @mobile-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/mobile/__tests__/components/common/Button.test.tsx
  src/mobile/__tests__/components/common/Button.test.tsx
Owners: @mobile-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/mobile/__tests__/components/common/Input.test.tsx
  src/mobile/__tests__/components/common/Input.test.tsx
Owners: @mobile-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/mobile/__tests__/screens/DashboardScreen.test.tsx
  src/mobile/__tests__/screens/DashboardScreen.test.tsx
Owners: @mobile-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/mobile/__tests__/screens/LoginScreen.test.tsx
  src/mobile/__tests__/screens/LoginScreen.test.tsx
Owners: @mobile-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/mobile/__tests__/utils/api.test.ts
  src/mobile/__tests__/utils/api.test.ts
Owners: @mobile-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/mobile/__tests__/utils/auth.test.ts
  src/mobile/__tests__/utils/auth.test.ts
Owners: @mobile-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/mobile/__tests__/utils/date.test.ts
  src/mobile/__tests__/utils/date.test.ts
Owners: @mobile-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/mobile/__tests__/utils/validation.test.ts
  src/mobile/__tests__/utils/validation.test.ts
Owners: @mobile-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/mobile/assets/fonts/Montserrat-Bold.ttf
  src/mobile/assets/fonts/Montserrat-Bold.ttf
Owners: @mobile-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/mobile/assets/fonts/Montserrat-Regular.ttf
  src/mobile/assets/fonts/Montserrat-Regular.ttf
Owners: @mobile-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/mobile/assets/fonts/OpenSans-Bold.ttf
  src/mobile/assets/fonts/OpenSans-Bold.ttf
Owners: @mobile-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/mobile/assets/fonts/OpenSans-Regular.ttf
  src/mobile/assets/fonts/OpenSans-Regular.ttf
Owners: @mobile-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/mobile/assets/images/logo.png
  src/mobile/assets/images/logo.png
Owners: @mobile-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/mobile/assets/images/splash.png
  src/mobile/assets/images/splash.png
Owners: @mobile-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/mobile/src/components/booking/BookingDetails.tsx
  src/mobile/src/components/booking/BookingDetails.tsx
Owners: @mobile-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/mobile/src/components/booking/BookingForm.tsx
  src/mobile/src/components/booking/BookingForm.tsx
Owners: @mobile-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/mobile/src/components/booking/BookingList.tsx
  src/mobile/src/components/booking/BookingList.tsx
Owners: @mobile-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/mobile/src/components/common/Button.tsx
  src/mobile/src/components/common/Button.tsx
Owners: @mobile-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/mobile/src/components/common/Card.tsx
  src/mobile/src/components/common/Card.tsx
Owners: @mobile-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/mobile/src/components/common/Input.tsx
  src/mobile/src/components/common/Input.tsx
Owners: @mobile-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/mobile/src/components/common/LoadingSpinner.tsx
  src/mobile/src/components/common/LoadingSpinner.tsx
Owners: @mobile-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/mobile/src/components/dashboard/OverviewCard.tsx
  src/mobile/src/components/dashboard/OverviewCard.tsx
Owners: @mobile-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/mobile/src/components/dashboard/RecentBookings.tsx
  src/mobile/src/components/dashboard/RecentBookings.tsx
Owners: @mobile-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/mobile/src/components/dashboard/UpcomingEvents.tsx
  src/mobile/src/components/dashboard/UpcomingEvents.tsx
Owners: @mobile-team

Add public-samples/ice-rink-management-comprehensive-iwhcmn/src/mobile/src/components/equipment/EquipmentDetails.tsx
  src/mobile/src/components/equipment/EquipmentDetails.tsx
Owners: @mobile-team

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# For more information, see: https://help.github.com/articles/about-code-owners/

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, these owners will be requested for review when someone opens a pull request.
* @global-owner1 @global-owner2

# Frontend code
/src/frontend/ @frontend-team

# Backend code
/src/backend/ @backend-team

# API code
/src/api/ @api-team

# Mobile app code
/src/mobile/ @mobile-team

# Shared code
/src/shared/ @frontend-team @backend-team @api-team @mobile-team

# Infrastructure code
/infrastructure/ @devops-team

# CI/CD configuration
/.github/workflows/ @devops-team

# Documentation
/*.md @docs-team

# Package configuration
package.json @lead-developer
yarn.lock @lead-developer

# Security-related files
/src/api/middleware/auth.ts @security-team
/src/frontend/src/utils/auth.ts @security-team
/src/mobile/src/utils/auth.ts @security-team

# Database migrations
/src/backend/src/db/migrations/ @database-team

# Test files
/src/*/tests/ @qa-team

# Configuration files
*.config.js @lead-developer
*.config.ts @lead-developer
.env.example @devops-team

# Dockerfiles
Dockerfile* @devops-team
docker-compose.yml @devops-team

# Kubernetes manifests
/infrastructure/kubernetes/ @kubernetes-team

# Terraform files
/infrastructure/terraform/ @infrastructure-team

# Monitoring and logging
/infrastructure/monitoring/ @monitoring-team

# Scripts
/infrastructure/scripts/ @devops-team

# Ansible playbooks
/infrastructure/ansible/ @devops-team
